.game {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.game-column {
  padding: 0 10px;
  background-color: #1f90ff;
}

.game-cell {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
}

.game-cell.yellow {
  background-color: yellow;
}

.game-cell.red {
  background-color: red;
}