.game {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #1f90ff;
}

.game-column {
  margin: 0 10px;

}

.game-cell {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
}